section{
    padding: 40px;
    background-color: rgb(235, 196, 5);

}

input{
  display: flex;
  justify-self: flex-end;
  margin: 40px;
  width: 280px;
  height: 36px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(165, 127, 127);
}
.section2 {
    padding: 25px; 
    width: 100%;
 
}



.c2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding-top: 30px;
}
.card {
    text-align: center;
    padding: 20px;
    background-color: rgb(251, 245, 249);
}

.R1{
    display: flex;
}

.Filter{
    display: flex;
    flex-direction: column;
    width: 270px;
    padding: 20px;
}

select{
    width: 130px;
    border: 0;
    font-size: 16px;
    background-color: rgba(240, 248, 255, 0);
    margin-bottom: 15px;
    margin-left: -5px;
}